.progress-bar-container {
  
  position:relative;
  width: 300px; /* Adjust the width of the container as needed */
  height: 20px; /* Adjust the height of the container as needed */
  background-color: #f0f0f0; /* Background color of the container */
  border-radius: 5px; /* Border radius for rounded corners */
  overflow: hidden; /* Hide overflowing content */
}

.progress-bar {
  height: 100%; /* Full height of the container */
  background-color: #28a745; /* Green color for progress */
  transition: width 0.5s linear; /* Add smooth transition effect for width changes */
}

.progress-text {
  position: absolute; /* Position text absolutely inside the container */
  top: 0; /* Align text to the top */
  left: 50%; /* Center text horizontally */
  transform: translateX(-50%); /* Center text horizontally */
  line-height: 20px; /* Center text vertically */
  /* color: #fff; */
  font-size: 14px; /* Font size of the text */
  font-weight: 500;
}
